.header {
  padding: 0px 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 115, 0);
  font-size: 1rem;
  border-bottom: 2px solid rgb(255, 115, 0);
}

.phoneInfo {
  display: flex;
  color: rgb(255, 115, 0);

  align-items: center;
}

.phoneInfo span {
  margin-left: 5px;
}

@media (max-width: 320px) {
  .phoneInfo span {
    display: none;
  }
  .phoneInfo {
    margin-right: 70px;
  }
}

.phoneInfo:hover {
  color: rgb(255, 81, 0);
}

.headerAddress {
  color: white;
  margin-left: 10px;
}
