.copyright {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #fff; /* Możesz zmienić na preferowany kolor */
  background-color: #000; /* Czarny tło zgodnie z motywem aplikacji */
}
