.footer {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  text-align: left;
  justify-content: space-around;
  border-top: 2px solid rgb(255, 115, 0);
  padding: 20px;
}

@media (max-width: 560px) {
  .footer {
    justify-content: space-between;
  }
}

.socialLinks__title {
  padding-left: 15px;
  /* padding-top: 5px; */
  margin-top: 27px;
}

.socialLinks {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (max-width: 560px) {
  .socialLinks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}

.socialLinks a {
  margin: 0px 15px;
  color: rgb(255, 115, 0);
  text-decoration: none;
}

.socialLinks a:hover {
  color: rgb(255, 81, 0);
}

.footerLogo {
  color: rgb(255, 115, 0);
  font-size: 1.5em;
}
